<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Gestion des Clients</h1>
        <button class="btn btn-primary" (click)="nouveauClient()">
          <i class="fas fa-plus"></i> Nouveau Client
        </button>
      </div>

      <!-- Liste des clients -->
      <div class="col m-3" *ngIf="listClient.length">
        <app-detail-clt 
          *ngFor="let client of listClient"
          [client]="client"
          (suppressionResult)="handleSuppression($event)">
        </app-detail-clt>
      </div>

      <!-- Message si aucun client -->
      <div class="alert alert-info" *ngIf="!listClient.length">
        Aucun client trouvé. Créez votre premier client !
      </div>
    </div>
  </div>
</div>