<div class="col mb-3">
  <div class="col-md-12 mb-3 mt-3">
    <h2><i class="fas fa-user-plus blue-color"></i>&nbsp;{{ isEditMode ? 'Modifier le client' : 'Nouveau client' }}</h2>
  </div>
  <hr>
  <div class="col-md-12">
    <div class="alert alert-danger" *ngIf="errorMsg">
      <div>
        <span>{{ errorMsg }}</span>
      </div>
    </div>
    <form>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" name="nom" placeholder="Nom" [(ngModel)]="client.nom">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="prenom" placeholder="Prénom" [(ngModel)]="client.prenom">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" name="numTel" placeholder="Numéro de téléphone" [(ngModel)]="client.numTel">
        </div>
        <div class="col">
          <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="client.email">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" name="codeFiscal" placeholder="Code fiscal" [(ngModel)]="client.codeFiscal">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" name="adresse1" placeholder="Adresse 1" [(ngModel)]="client.adresse!.adresse1">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="adresse2" placeholder="Adresse 2" [(ngModel)]="client.adresse!.adresse2">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" name="ville" placeholder="Ville" [(ngModel)]="client.adresse!.ville">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="codePostale" placeholder="Code postal" [(ngModel)]="client.adresse!.codePostale">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="pays" placeholder="Pays" [(ngModel)]="client.adresse!.pays">
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12 d-flex justify-content-end">
    <button type="button" class="btn btn-secondary me-2" (click)="annuler()">
      <i class="fas fa-times"></i>&nbsp;Annuler
    </button>
    <button type="button" class="btn btn-primary" (click)="enregistrer()">
      <i class="fas fa-save"></i>&nbsp;{{ isEditMode ? 'Modifier' : 'Enregistrer' }}
    </button>
  </div>
</div>
