<div class="row mb-1 mr-0 custom-border">
  <div class="col-md-1 custom-border-right p-1 text-center mb-1 mt-1">
    <img [src]="commande.fournisseur?.photo || 'assets/product.png'" width="100px" height="100px">
  </div>

  <!--  Details commande -->
  <div class="col-md-5 custom-border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-10"><strong>Commande:</strong> {{ commande.code || 'N/A' }}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-calendar blue-color"></i></div>
        <div class="col-md-10"><strong>Date:</strong> {{ getDateCommande() }}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-tag blue-color"></i></div>
        <div class="col-md-10"><strong>État:</strong> {{ commande.etatCommande || 'N/A' }}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-user blue-color"></i></div>
        <div class="col-md-10"><strong>Fournisseur:</strong> {{ getNomFournisseur() }}</div>
      </div>
    </div>
  </div>

  <!--  details fournisseur -->
  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
        <div class="col-md-10">{{ commande.fournisseur?.numTel || 'N/A' }}</div>
      </div>
              <div class="row">
          <div class="col-md-1"><i class="fas fa-envelope blue-color"></i></div>
          <div class="col-md-10">{{ commande.fournisseur?.mail || 'N/A' }}</div>
        </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-map-marker-alt blue-color"></i></div>
        <div class="col-md-10">{{ commande.fournisseur?.adresse?.ville || 'N/A' }}</div>
      </div>
    </div>
  </div>

  <!--  boutons action -->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-eye"></i>&nbsp;Voir
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link text-primary">
          <i class="fas fa-edit"></i>&nbsp;Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link text-success">
          <i class="fas fa-check"></i>&nbsp;Valider
        </button>
      </div>
    </div>
  </div>
</div>