<div class="button-action-container">
  <div class="d-flex gap-3">
    <!-- Bouton Importer -->
    <div *ngIf="isImporterVisible" class="flex-fill">
      <button type="button" class="btn btn-warning" (click)="bouttonImporterClick()">
        <i class="fas fa-cloud-upload-alt"></i>
        <span>Importer</span>
      </button>
    </div>
    
    <!-- Bouton Exporter -->
    <div *ngIf="isExporterVisible" class="flex-fill">
      <button type="button" class="btn btn-success" (click)="bouttonExporterClick()">
        <i class="fas fa-cloud-download-alt"></i>
        <span>Exporter</span>
      </button>
    </div>
    
    <!-- Bouton Nouveau -->
    <div *ngIf="isNouveauVisible" class="flex-fill">
      <button type="button" [class]="buttonClass" (click)="bouttonNouveauClick()">
        <i [class]="icon"></i>
        <span>{{ text }}</span>
      </button>
    </div>
  </div>
</div>
