<div class="row mb-1 mr-0 custom-border detail-mvt-stk">
  <!--  Details article-->
  <div class="col-md-3 custom-border-right mb-1 mt-1 ">
    <div class="row text-center">
      <div class="col-md-11">{{ getDateMouvement() }}</div>
    </div>
  </div>

  <!--  details quantite-->
  <div class="col-md-3 custom-border-right mb-1 mt-1 ">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>{{ getQuantite() }}</h5>
      </div>
    </div>
  </div>

  <div class="col-md-3 custom-border-right mb-1 mt-1 ">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>{{ getTypeMouvement() }}</h5>
      </div>
    </div>
  </div>

  <!--  boutons action-->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row text-center">
      <h5>{{ getSourceMouvement() }}</h5>
    </div>
  </div>
</div>